.light-gray {
    color: rgb(122, 122, 122);
}

.sans-family {
    font-family: sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.tomorrow {
    font-family: 'Tomorrow', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.codaCaption {
    font-family: 'Coda Caption', sans-serif;
}

.indieFlower {
    font-family: 'Indie Flower', cursive;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.sourceCodePro {
    font-family: 'Source Code Pro', monospace;
}

.modak {
    font-family: 'Modak', cursive;
}

.abrilFatface {
    font-family: 'Abril Fatface', cursive;
}

.kanit {
    font-family: 'Kanit', sans-serif;
}

.righteous {
    font-family: 'Righteous', cursive;
}

.koronaOne {
    font-family: 'Krona One', sans-serif;
}

.patuaOne {
    font-family: 'Patua One', cursive;
}

.permanentMaker {
    font-family: 'Permanent Marker', cursive;
}

.caveat {
    font-family: 'Caveat', cursive;
}